.placeholder {
  width: 100%;
  height: 200px;
  background: rgb(100,100,100);
}

@media screen and (min-width: 576px) {
  .placeholder {
    background: rgb(100,100,220);
  }
}

@media screen and (min-width: 768px) {
  .placeholder {
    background: rgb(220,220,100);
  }
}

@media screen and (min-width: 1024px) {
  .placeholder {
    background: rgb(220,100,220);
  }
}

@media screen and (min-width: 1440px) {
  .placeholder {
    background: rgb(100,220,220);
  }
}